.claseprincipal {
    background-color: #c6fc9f;
}

.centrartext-2 {
    margin-top: 150px;
}

.centrat {
    text-align: center;
}

.divPrincipal {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.margin-top {
    margin-top: 50px;
}

.button {
    padding: 20px;
    background-color: white;
}

.button:hover {
    background-color: #b5b5b5;
}

.button-color {
    color: black;
}

.button-margin {
    margin: 20px;
}

.hr-line {
    width: 5%;
    margin-left: auto;
    margin-right: auto;
}

.button-width {
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}

.video {
    margin: 30px;
}

.vertical {
    transform: rotate(90deg);
}

.hr-vertical {
    margin-top: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}